#random-button {
    font-family: var(--font-display);
    display: flex;
    align-items: center;
    background-color: #16151a;
    border: 1px solid #2a2830;
    border-radius: 9999px;
    padding: 0.5rem 1.25rem;
    max-width: 560px;
    margin: 0 auto;
    transition: 0.3s;
    color: e8e4de;
}

#random-button:hover {
    border-color: #2a2830;
    background-color: #222125;
}